.green{
  color: green;
}
.red{
  color: red;
}
.blinkingGreen{
  animation:blinkingTextGreen 2s infinite;
}
.dotGreen {
  animation:blinkingDotGreen 2s infinite;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
.blinkingRed{
  animation:blinkingTextRed 2s infinite;
}
.dotRed {
  animation:blinkingDotRed 2s infinite;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
@keyframes blinkingTextGreen{
  0%{   color: green;  }
  50%{  color: transparent; }
  100%{ color: green;  }
}
@keyframes blinkingDotGreen{
  0%{   background-color: green;  }
  50%{  background-color: transparent; }
  100%{ background-color: green;  }
}
@keyframes blinkingTextRed{
  0%{   color: red;  }
  50%{  color: transparent; }
  100%{ color: red;  }
}
@keyframes blinkingDotRed{
  0%{   background-color: red;  }
  50%{  background-color: transparent; }
  100%{ background-color: red;  }
}